:root {
	--inactive-color: #DCD7C9;
	--active-color: #C30E59;

	--button-bg-color: #A1E3F9; /* Color before hover */
	--button-hover-bg-color: #578FCA; /* Color after hover */
	--button-text-color: #000;
	--button-hover-text-color: #fff;

	--panel-button-bg-color: #C30E59; /* Color before hover */
	--panel-button-hover-bg-color: #E82561; /* Color after hover */
	--panel-button-text-color: #fff;
	--panel-button-hover-text-color: #fff;
	--panel-bg-color: #EFF3EA;
	--panel-applause-color: #f5e911;
	--panel-text-color: #22b52a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.congrass {
	width: 30%;

	position: absolute;
	top: 10%;
	left: 35%;
	text-align: center;

	background-color: var(--panel-bg-color);
	border-radius: 1rem;

	animation: open 4s;
}

.hidden-panel {
	display: none;
}

.congrass>.congrass-icon {
	font-size: 3rem;
	color: var(--panel-applause-color);
	margin-top: 0.5rem;
}

.congrass>.congrass-text {
	font-size: 1.5rem;
	color: var(--panel-text-color);
	margin-top: 1rem;
}

.congrass>.congrass-button {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--panel-button-bg-color);
	color: var(--panel-button-text-color);

	font-size: 1rem;
}

.congrass>.congrass-button:hover {
	background-color: var(--panel-button-hover-bg-color);
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.main-container>.step-progress {
	display: flex;
	align-items: center;
}

.step-number {
	width: 4rem;
	height: 4rem;

	outline: 5px solid var(--inactive-color);
	color: var(--inactive-color);
	border-radius: 50%;

	text-align: center;
	line-height: 4rem;

	font-weight: 700;

	transition: all 2s ease-in;
}

.step-bar {
	width: 6rem;
	height: 0.3rem;
	background-color: var(--inactive-color);

	transition: all 2s ease;
}

.main-container>.button-control {
	margin-top: 5rem;
}

.main-container>.button-control>button {
	padding: 0.5rem 2rem;
	margin-left: 1rem;

	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--button-bg-color);
}

.main-container>.button-control > button:hover {
	background-color: var(--button-hover-bg-color);
	color: var(--button-hover-text-color);
}

.stepActive {
	outline: 5px solid var(--button-hover-bg-color);
	color: var(--button-hover-bg-color);
}

.barActive {
	background-color: var(--button-hover-bg-color);
}

@keyframes open {
  from {
    opacity: 0;
    display: none;
  }
  
  to {
    opacity: 1;
    display: block;
  }
}